<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Un </title>
    <link rel="stylesheet"  href="/employees.css">
</head>
<body>
  <div id="container">
  <h1>Create your account here....</h1>
          <form action="/employees/signup" method="post">
<label for="employe-name">Name</label><br>
<input type="text" id="employe-name" placeholder="Enter your Name" required name="name"><br>
<label for="employe-email">Email</label><br>
<input type="email" id="employe-email" placeholder="Enter your Email" required name="email"><br>
<label for="employe-passport">Password</label><br>
<input type="password" id="employe-passport" placeholder="Enter your Password" required name="password"><br>
<label for="employe-conpassword">Conform Password</label><br>
<input type="password" id="employe-conpassword" placeholder="Enter your Email" required name="confirmpassword"><br><br>
<button type="submit">Sign Up</button>
          </form>
        </div>

        
</body>
</html>