<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
      <nav>
        <h1>WELCOME TO PLACEMENT CELL.. !</h1>
      </div>  
      <li><a href="/employees/home">Dashboard</a></li>
      <li><a href="/employees/student">Add New Student</a></li>
      <li><a href="/employees/add-company">Add Company</a></li>
      <li><a href="/employees/student-list">Show Student List</a></li>
      <li><a href="/employees/download-excel-data">Excel-Data</a></li>
     
      <div>
        
      </nav>
       <div id="container">
             <div id='left-container' class="box">
              <h1>Student Details</h1>
               <p></p>
               <button type="submit" id="student_button" class="btn"><a href="./student">Add Student</a></button>
               <button type="submit" id="student_button" class="btn"><a href="./student-list">
                Student List
               </a></button>
              </div>
              <div id="right-container" class="box">
                <h1>Interviews Details</h1>
                <p></p>
                <button type="submit" id="interview-button"><a href="./add-company">Interviews-Details</a></button>
             </div>
    </div>

    <!-- <script src="/javaScript/student.js"></script> -->
</body>
</html>